<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>网站标题，控制在25个字、50个字节以内</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" href="../static/app/css/app.css">
	<script src="../static/seajs/sea.js"></script>
	<script src="../static/seajs/config.js"></script>
</head>
<body>
	<!-- 全站导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="nav-left fl">
				<li>全站导航左侧</li>
			</ul>
			<ul class="nav-right fr">
				<li>全站导航右侧</li>
			</ul>
		</div>
	</div>
	<!-- /全站导航 -->

	<!-- 头部 -->
	<div class="header">
		<div class="container">
			<ul class="navbar">
				这里是头部
			</ul>
		</div>
	</div>
	<!-- /头部 -->

	<!-- 主体部分 -->
	<div class="content">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					111
				</div>
				<div class="span6">222</div>
			</div>
		</div>
	</div>
	<!-- /主体部分 -->

	<!-- 尾部 -->
	<div class="footer">
		<div class="container">
			这里是尾部
		</div>
	</div>
	<!-- /尾部 -->
	<script>
		seajs.use("js/index", function(app) {
			// app.test();
		});
        console.log(111);
	</script>
</body>
</html>
